<%= form_for @wiki do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.hidden_field :body, id: 'body' %>
    <div id="epiceditor"></div>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success', onclick: "prep()" %>
  </div>
<% end %>

<script src="epiceditor.min.js"></script>
<script>
  var editor = new EpicEditor().load();

  function prep() {
    alert(editor.getElement('editor').body.innerHTML);
  }
</script>