<%= form_for @wiki do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.hidden_field :body, id: "body" %>
    <div id="epiceditor"></div>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success', onclick: "prep()" %>
  </div>
<% end %>


<!-- Grab all your users  show the collaborators new collaborator form for each user, also give them a delete button-->

<script src="epiceditor.min.js"></script>
<script>
  var editor = new EpicEditor().load();

  function prep() {
    $("#body")[0].value = (editor.getElement('editor').body.innerHTML);
  }
</script>